<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  href={{href}}>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        

            {{errorMessage}}
        </div>

        {{>footer}}
    </body>
</html>