<!DOCTYPE html>
<html>
    <head>
        <title>Bladi</title>
        <link rel="icon" href="/img/marcel.png">
        <link rel="stylesheet"  href="./css/styles.css">

    </head>
    <body>
        <div class="main-content">
            {{>header}}

        <form action="/register" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">

            <label for="email">Email</label>
            <input type="email" name="email" id="email">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <button>register</button>
        </form>
       
        </div>
        {{>footer}}
    </body>
</html>
